# **Iris Dataset**

## Goal
In this example notebook, I will be doing some exploratory data analysis on scikitlearns iris dataset.
Follow the GFG link below to get further exmaples and guidance.
[GeeksForGeeks](https://www.geeksforgeeks.org/data-analysis/exploratory-data-analysis-on-iris-dataset/)

In [21]:
import pandas as pd
from sklearn.datasets import load_iris

iris = load_iris()
df = load_iris(as_frame=True).frame
# Note -> w/o 'as_frame=True', data would load as a 'Bunch' obj like a Dict.
# .frame comes from sklearn integrating with pd
print(df.head())


x = iris.data # Feature data
#print(f"Feature names: {iris.feature_names}")

y = iris.target # Target variable data
#print(f"Target names: {iris.target_names}")


# Print the first few samples in the dataset
print("First 5 samples:")
for i in range(5):
    print(f"Sample {i+1}: {x[i]} (Class: {y[i]}, Species: {iris.target_names[y[i]]})")

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

   target
0       0
1       0
2       0
3       0
4       0
First 5 samples:
Sample 1: [5.1 3.5 1.4 0.2] (Class: 0, Species: setosa)
Sample 2: [4.9 3.  1.4 0.2] (Class: 0, Species: setosa)
Sample 3: [4.7 3.2 1.3 0.2] (Class: 0, Species: setosa)
Sample 4: [4.6 3.1 1.5 0.2] (Class: 0, Species: setosa)
Sample 5: [5.  3.6 1.4 0.2] (Class: 0, Species: setosa)

- iris_load() loads the data from sklearn
- With args 'as_frame=True', the set is loaded as a dataframe.
- Using '.frame' is an integrated way to transfer sklearn df to pandas df

In [29]:
df.shape # Returns the df shape

(150, 5)

In [28]:
df.info() # Returns columns and their data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   target             150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

In [31]:
df.describe()  # Quick statistical summary of the dataset

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

## **Check for missing values**

In [33]:
df.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
target               0
dtype: int64

- Missing values would return as null values in a data frame.
- In this case, there are zero missing values.

[GeeksForGeeks-pandas-isnull-notnull](https://www.geeksforgeeks.org/python/python-pandas-isnull-and-notnull/)